---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Urbanraum Colors
$color-white: #FFFFFF;
$color-mint: #52A396;
$color-mint-cold: #7AB5b9;
$color-mint-yellow: #a4d6ab;
$collor-pine: #006264;
$color-text: #1C2624;
$color-berry: #FF0044; 

// Our variables
$base-font-family: "Brandon Text", "Brandon Grotesque", "Helvetica Neue" Arial, Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     16px;

$height-header:    90px;

$text-color:       $color-text;
$color-background: #f3f8f2;
$brand-color:      $color-mint;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "posts"
;
