---
  layout: page
  title_en: Events
  title_de: Veranstaltungen
  menu: main
---

{% assign events=site.tags.events %}
{% assign overview=true %}

<div class="event-list">
  {% for post in site.events %}
    <a  class="event-list__item"
        href="{{ post.url | prepend: site.baseurl }}">
      <div class="event__img">
        {% if post.image %}
          <img src="{{ site.baseurl }}/img/{{ post.image }}" class="img-flex" />
        {% else %}
          <img src="{{ site.baseurl }}/img/class-placeholder-01.jpg" class="img-flex" />
        {% endif %}
      </div>
      <div  class="event__meta">
        <span class="event__time">
          <span data-en="{{ post.weekday_en }}" data-de="{{ post.weekday_de }}">{{ post.weekday_en }}</span>

         {% if post.date_en || post.date_de %}
            <span data-en="{{ post.date_en }}" data-de="{{ post.date_de }}">{{ post.date_en }}</span>,
          {% endif %}
          <span class="detail">
            {{ post.time | date: "%R" }}
          </span>

          {% if post.endtime %}
          –
          <span>{{ post.endtime | date: "%R" }}</span>
          {% endif %}
        </span>
        <span data-en="{{ post.title_en }}" data-de="{{ post.title_de }}">
          {{ post.title_en }}
        </span>
      </div>
    </a>
  {% endfor %}
</div>
