---
  layout: page
  title_en: Events
  title_de: Veranstaltungen
---

{% assign events=site.tags.events %}
{% assign overview=true %}

<div class="event-list">
  {% for post in site.events %}
    <a  class="event-list__item"
        href="{{ post.url | prepend: site.baseurl }}">
      <div class="event__img">
        {% if post.image %}
          <img src="{{ site.baseurl }}/img/{{ post.image }}" class="img-flex" />
        {% else %}
          <img src="{{ site.baseurl }}/img/class-placeholder-01.jpg" class="img-flex" />
        {% endif %}
      </div>
      <div  class="event__meta">
        <span>
          {% for date in post.schedule %}
            {{ date.day }}
            {{ date.day }}
            {{ date.day }}
          {% endfor %}
        </span>
        <span data-en="{{ post.title_en }}" data-de="{{ post.title_de }}">
          {{ post.title_en }}
        </span>
      </div>
    </a>
  {% endfor %}
</div>
