<div class="modal-backdrop">
  <div class="modal">
    <div class="modal-visual">
      <img src="{{ site.baseurl }}/img/urbanraum-retten.svg" alt="Urbanraumretten Logo" class="urbanraumretten-logo">
    </div>
    <div class="modal-body">
      <h1>Urbanraum needs you!</h1>
      <p>
        The rent is rising and without your help we’ll be forced to <strong>close the space</strong>. That means no more affordable dance and practice space for our community. Learn more about the situation and how you can support – <strong>#UrbanraumRETTEN</strong>!
      </p>
      <p class="mb1 tr">
        <a href="/support-us" class="btn btn-blue btn-round btn-fade-in nowrap">Support Urbanraum now &rarr;</a>
      </p>
    </div>
    <button type="button" name="button" class="modal-close"></button>
  </div>
</div>
