.top-banner {
  background-color: $color-pine;
  color: $color-white;
  padding: .5em 0;
  font-size: 12px;
  a {
    color: $color-white;
    &:hover, &:focus {

    }
  }
}

.top-banner--red {
  background-color: $color-tomato;
}
