.button {
  display: inline-block;
  padding: ($spacing-unit / 2) (2 * $spacing-unit);
  border-width: 3px;
  border-radius: 2px;
  border-style: solid;
  border-color: currentColor;
  color: $color-pine;
}
