body {
  background: $color-mint url('../img/urbanraum-bg-bright.jpg') no-repeat center;
  background-image:
    linear-gradient(to bottom, rgba(255,255,255,.4) 0%,rgba(255,255,255,0) 800px),
    url('../img/urbanraum-bg-b-w.jpg');
  background-size: cover;
  background-attachment: scroll, fixed;
}

// Wrapper, for padding left and right
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  @include media-query-min($on-tablet) {
    padding-right: $spacing-unit * 1.5;
    padding-left: $spacing-unit * 1.5;
  };
  @include media-query-min($on-laptop) {
    padding-right: $spacing-unit * 3;
    padding-left: $spacing-unit * 3;
  };
}

.wrapper--content {
  max-width: 1024px;
}

// Site header
.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  min-height: $height-header;
  padding-top: $spacing-unit / 2;
  // Positioning context for the mobile navigation icon
  position: relative;
  @include media-query-min($on-laptop) {
    padding-top: $spacing-unit;
  }
}


.site-title {
  font-size: 26px;
  line-height: $height-header;
  margin-top: 9px;
  margin-bottom: 0;
  float: left;
  svg {
    display: block;
    max-width: 140px;
  }
}

.language-switch {
  padding-left: 6px;
  padding-right: 6px;
  &:hover, &:focus {
    .language-switch__separator {
      border-left: 2px solid $color-mint-yellow;
    }
  }
}
.language-switch__separator {
  width: 0;
  display: inline-block;
  height: 17px;
  margin-bottom: -3px;
  border-left: 2px solid rgba($color-mint-yellow, .2);
  transform: rotate(20deg);
}
.language-switch__link {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: uppercase;
  font-size: .9em;
  color: rgba($color-text, .4);
  &:hover, &:focus {
    text-decoration: none;
  }
}

.language-switch__link--active {
  color: $color-mint;
}

.site-nav {
  float: right;
  line-height: $height-header;
  z-index: 10;
  .menu-icon {
    display: none;
    float: right;
    width: 36px;
    height: $height-header;
    line-height: 0;
    padding-top: 38px;
    padding-right: 38px;
    text-align: center;
    > svg {
      width: 18px;
      height: 15px;
    }
  }
  .trigger {
    float: right;
  }
  .language-switch {
    float: right;
  }
  @include media-query($on-tablet) {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    .menu-icon {
      display: block;
    }
    .trigger {
      clear: both;
      display: none;
    }
    .language-switch {
      float: none;
    }
    &:hover .trigger {
      display: block;
      padding-top: 30px;
      padding-right: $spacing-unit;
      padding-bottom: 25px;
      padding-left: $spacing-unit;
      background-color: $color-white;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 160px;
      height: 100vh;
    }
  }
}

.page-link {
  display: block;
  line-height: $base-line-height;
  padding: 10px 10px;
  text-decoration: none;
  color: $color-text;
  text-transform: uppercase;
  &:hover, &:focus {
    border-bottom: 2px solid $color-mint-yellow;
    text-decoration: none;
  }
  @include media-query-min($on-tablet) {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    padding: 0;
    font-size: 12px;
  }
  @include media-query-min($on-laptop) {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  padding: 0 6px 12px;
  color: $color-text;
  &:hover, &:focus {
    text-decoration: none;
    color: $color-pine;
  }
  &:first-child {
    padding-left: 0;
  }
}

// Site Footer
.site-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  text-align: center;
}

.site-footer__social {
  @include media-query-min(650px) {
    float: left;
    text-align: left;
  }
}

.site-footer__address {
  @include media-query-min(650px) {
    float: right;
    text-align: right;
  }
}

// Page content
.page-content {
  margin-bottom: $height-footer;
  position: relative;
  z-index: 3;
  padding-top: (3 * $spacing-unit);
  padding-bottom: (4 * $spacing-unit);
  min-height: -webkit-calc(100vh - (#{$spacing-unit} * 2) - #{$height-header} );
  min-height:         calc(100vh - (#{$spacing-unit} * 2) - #{$height-header} );
  background: $color-white;
  @include media-query-min($on-tablet) {
    padding-top: (4 * $spacing-unit);
    padding-bottom: (7 * $spacing-unit);
  }
  @include media-query-min($on-laptop) {
    padding-top: (4 * $spacing-unit);
    padding-bottom: (8 * $spacing-unit);
  }
}

.page-heading {
  font-size: 20px;
}
