/**
 * Site header
 */
.site-header {
    min-height: $height-header;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: $height-header;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.language-switch {
  margin-left: 20px;
}

.site-nav {
  float: right;
  line-height: $height-header;
  z-index: 10;
  .menu-icon {
    display: none;
    float: right;
    width: 36px;
    height: $height-header;
    line-height: 0;
    padding-top: 38px;
    text-align: center;
    > svg {
      width: 18px;
      height: 15px;
    }
  }
  .trigger {
    float: right;
  }
  .language-switch {
    float: right;
  }
  @include media-query($on-tablet) {
    position: absolute;
    top: 0;
    right: 16px;
    text-align: right;
    .menu-icon {
      display: block;
    }
    .trigger {
      clear: both;
      display: none;
    }
    .language-switch {
      float: none;
    }
    &:hover .trigger {
      display: block;
      padding-top: 30px;
      padding-bottom: 25px;
      background-color: $color-white;
      position: absolute;
      top: 0;
      right: 0;
      min-width: 320px;
      height: 100vw;
    }
  }
}

.page-link {
  display: block;
  line-height: $base-line-height;
  padding: 5px 10px;
  // Gaps between nav items, but not on the first one
  &:not(:first-child) {
    margin-left: 20px;
  }
  @include media-query-min($on-tablet) {
    display: inline-block;
    padding: 0;
  }
}

.footer-link {
  &:not(:first-child) {
    margin-left: 20px;
  }
}

/**
 * Site footer
 */
.site-footer {
  position: relative;
  padding: $spacing-unit 0;
  min-height: $height-footer;
  text-align: center;
}

.site-footer__social {
  @include media-query-min($on-tablet) {
    float: left;
    text-align: left;
  }
}

.site-footer__address {
  @include media-query-min($on-tablet) {
    float: right;
    text-align: right;
  }
}



/**
 * Page content
 */
.page-content {
  position: relative;
  padding: $spacing-unit 0;
  min-height: -webkit-calc(100vh - (#{$spacing-unit} * 2) - #{$height-header} - #{$height-footer} );
  min-height:         calc(100vh - (#{$spacing-unit} * 2) - #{$height-header} - #{$height-footer} );
}

.page-heading {
  font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
  font-size: $small-font-size;
}

.post__link {
  display: block;
  overflow: hidden;
  margin-bottom: 1.5em;
  font-size: 24px;
  clear: both;
}

.post__img {
  float: left;
  margin-right: 20px;
  max-width: 100px;
}
