.post {
  //border: 2px solid red;
}


/**
 * Posts
 */
.post__header {
    margin-bottom: 3 * $spacing-unit;
    text-align: center;
}

.post__title {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.2;
  @include media-query-min($on-tablet) {
    font-size: 42px;
  }
}

.post__subtitle {
  display: block;
  font-size: .6666em;
}

.post__content {
  margin-bottom: $spacing-unit;
}

.post__details {
  overflow: hidden;
  margin-bottom: 2 * $spacing-unit;
}

.post__bio {
  margin-bottom: $spacing-unit;
}

.post__media {
  margin-bottom: $spacing-unit;
  @include media-query-min($on-tablet) {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: $spacing-unit;
  }
}

.post__aside {
  @include media-query-min($on-tablet) {
    width: 50%;
    float: right;
    padding-left: $spacing-unit;
  }
}


.post__media--full-width {
  width: 100%;
  float: none;
  text-align: center;
  padding-right: 0;
}

.post__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post__description {
  max-width: 500px;
  margin: 0 auto 3rem;
}

.post__list {
  li {
    margin-bottom: .5em;
  }
  .detail {
    display: inline-block;
    vertical-align: top;
  }
  .label {
    text-transform: uppercase;
    min-width: 80px;
    display: block;
    vertical-align: top;
    @include media-query-min($on-tablet) {
      display: inline-block;
    }
    &:after {
      content: ":"
    }
  }
  .content {

  }
}

.post__footer {
  margin-bottom: 8em;
  padding: 1em;
  background-color: #FFF;
  div {
    margin-bottom: 1em;
  }
  
  @include media-query-min($on-tablet) {
    padding: 2em 2.5em;
  }
}




// Post list on overview pages

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
}

.gallery__item {
  max-width: 50%;
  padding: .5em;
}

.gallery__item--small {
  max-width: 25%;
}

.post__link {
  display: block;
  overflow: hidden;
  font-size: 24px;
  clear: both;
  position: relative;
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter .25s ease-in-out;
  }
}

.post__link:hover {
  img {
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
  }
}

.post__img {
  width: 100%;
}

.post__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5em;
  font-size: .5em;
  line-height: 1.2;
  background-color: rgba(0,0,0,.3);
  color: $color-white;
  .post__meta__hidden {
    display: none;
  }
  .post__link:hover & {
    transition: background-color .25s ease-in-out;
    background-color: rgba(0,0,0,.8);
    .post__meta__hidden {
      display: block;
    }
  }
}

@include media-query-min($on-tablet) {
  .post__meta {
    font-size: .65em;
  }
}