.post {
  //border: 2px solid red;
}


/**
 * Posts
 */
.post__header {
    margin-bottom: 3 * $spacing-unit;
    text-align: center;
}

.post__title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post__content {
  margin-bottom: $spacing-unit;
}

.post__details {
  overflow: hidden;
  margin-bottom: 2 * $spacing-unit;
}

.post__media {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: $spacing-unit;
}

.post__media--full-width {
  width: 100%;
  float: none;
  text-align: center;
  padding-right: 0;
}

.post__list {
  width: 50%;
  float: right;
  padding-left: $spacing-unit;
  ul  {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.post__description {
  max-width: 500px;
  margin: 0 auto 3rem;
}

.detail-list {
  li {
    margin-bottom: .5em;
  }
  .label {
    text-transform: uppercase;
    font-size: .8em;
  }
  .content {

  }
}






// Post list on overview pages

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
}

.gallery__item {
  max-width: 50%;
  padding: .5em;
}

.post__link {
  display: block;
  overflow: hidden;
  font-size: 24px;
  clear: both;
  position: relative;
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.post__link:hover {
  img {
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
  }
}

.post__img {
  width: 100%;
}

.post__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5em;
  font-size: .65em;
  background-color: rgba(0,0,0,.3);
  color: $color-white;
  .post__meta__hidden {
    display: none;
  }
  .post__link:hover & {
    background-color: rgba(0,0,0,.8);
    .post__meta__hidden {
      display: block;
    }
  }
}