.post {
}

//  Posts
.post__header {
    margin-bottom: 3 * $spacing-unit;
    text-align: center;
}

.post__title {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.2;
  @include media-query-min($on-tablet) {
    font-size: 42px;
  }
  &:after {
    content: '';
    width: 1em;
    height: 4px;
    background: $color-mint-yellow;
    display: block;
    margin: .5em auto .5em;
  }
}

.post__subtitle {
  display: block;
  font-size: .6666em;
}

.separator {
  color: rgba($color-text--light, .5);
  padding-left: .25em;
  padding-right: .25em;
}

.post__content {
  margin-bottom: $spacing-unit;
}

.post__bio {
  max-width: 36rem;
  margin: 0 auto $spacing-unit;
  text-align: left;
}

.post__details {
  @include media-query-min($on-laptop) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.post__media {
  text-align: center;
  overflow: hidden;
  margin-bottom: 2 * $spacing-unit;
  img {
    max-height: 50vh;
  }

}

.post__aside {
  margin-bottom: 2 * $spacing-unit;
  @include media-query-min($on-laptop) {
    flex-grow: 0;
    flex-shrink: 1;
    padding-left: 1.5em;
  }
}

.post__description {
  max-width: 36rem;
  clear: both;
  margin: 0 auto;
}

.post__list {
  margin-left: 0;
  margin-top: -.5em;
  list-style: none;
  text-align: left;
  li {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
  .detail {
    width: 70%;
  }
  .label {
    text-transform: uppercase;
    font-size: .75em;
    text-align: right;
    margin-top: 0.25em;
    width: 28%;
    min-width: 74px;
    padding-right: .5em;
    color: $color-text--light;
  }
  .detail,
  .label {
    display: inline-block;
    vertical-align: top;
    @include media-query-min($on-tablet) {
      width: 49%;
    }
    @include media-query-min($on-laptop) {
      display: block;
      text-align: left;
      width: 100%;
    }
  }
}


// Post list on overview pages
.gallery {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  margin-bottom: 3em;
  align-items: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.post__link {
  display: block;
  overflow: hidden;
  font-size: 24px;
  clear: both;
  position: relative;
}

.post__link:hover {
  img {
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
  }
}

.post__img {
  width: 100%;
  display: flex;
  img {
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: $transition-duration;
    transition-timing-function: ease-in-out;
    align-self: flex-end;
  }
}

.post__img--teacher {
  max-height: 280px
}

.post__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5em;
  font-size: .5em;
  line-height: 1.2;
  background-color: rgba(0,0,0,.3);
  color: $color-white;
  .post__meta__hidden {
    display: none;
  }
  .post__link:hover & {
    transition: background-color .25s ease-in-out;
    background-color: rgba(0,0,0,.8);
    .post__meta__hidden {
      display: block;
    }
  }
}

@include media-query-min($on-tablet) {
  .post__meta {
    font-size: .65em;
  }
}
