<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    <div class="closed-banner">
      <p>
        In accordance with today’s <a href="//www.berlin.de/rbmskzl/aktuelles/rathaus-aktuell/2020/meldung.906890.php">regulation by the Berlin Senate (14.03.2020)</a>, the <strong>URBANRAUM is now closed until further notice</strong>. For the time being there are no courses, workshops and events. Take care of all of you!
      </p>
      <hr>
      <p>
        Gemäß der heutigen <a href="//www.berlin.de/rbmskzl/aktuelles/rathaus-aktuell/2020/meldung.906890.php">Verordnung durch den Berliner Senat (14.03.2020)</a> <strong>schließt der URBANRAUM ab sofort bis auf Weiteres</strong>. Es finden vorerst keine Kurse, Workshops und Veranstaltungen statt. Passt alle gut auf Euch auf!
      </p>
    </div>

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{site.baseurl}}/js/app.js"></script>
  </body>
</html>
