---
layout: default
---

<div class="panorama">
  <div class="panorama__fixed">
    <div class="panorama__inner">
      {{ content }}
    </div>
  </div>
</div>

<div class="page-content">
  <div class="wrapper wrapper--content">


    <div style="margin: 3em auto; max-width: 36em">
      <p data-en="{{ site.data.lang.intro_long_en }}"
         data-de="{{ site.data.lang.intro_long_de }}">
         {{ site.data.lang.intro_long_en }}
      </p>
      <p data-en="{{ site.data.lang.contact_line_en }}"
         data-de="{{ site.data.lang.contact_line_de }}">
         {{ site.data.lang.contact_line_en }}
      </p>
      <p>
        <a href="mailto:info@urbanraum.com">info@urbanraum.com</a>
        <span class="separator">|</span>
        <a  href="http://eepurl.com/cXFJej"
            data-en="{{ site.data.lang.subscribe_newsletter_en }}"
            data-de="{{ site.data.lang.subscribe_newsletter_de }}">
          {{ site.data.lang.subscribe_newsletter_en }}
        </a>
      </p>
    </div>


    <header class="post__header">
      <h1 class="post__title">
        News
      </h1>
    </header>

    {% include news-list.html %}



    <header class="post__header">
      <h1 class="post__title"
        data-en="{{ site.data.lang.events_en }}"
        data-de="{{ site.data.lang.events_de }}">
        {{ site.data.lang.events_en }}
      </h1>
    </header>

    {% assign events=site.tags.events %}
    {% assign overview=true %}

    <div class="event-list" style="margin: 3em auto; max-width: 36em">
      {% for post in site.events %}
        <a  class="event-list__item"
            href="{{ post.url | prepend: site.baseurl }}">
          <div class="event__img">
            {% if post.image %}
              <img src="{{ site.baseurl }}/img/{{ post.image }}" class="img-flex" />
            {% else %}
              <img src="{{ site.baseurl }}/img/class-placeholder-01.jpg" class="img-flex" />
            {% endif %}
          </div>
          <div  class="event__meta">
            <span class="event__time">
              <span data-en="{{ post.weekday_en }}" data-de="{{ post.weekday_de }}">{{ post.weekday_en }}</span>

             {% if post.date_en or post.date_de %}
                <span data-en="{{ post.date_en }}" data-de="{{ post.date_de }}">{{ post.date_en }}</span>,
              {% endif %}
              <span class="detail">
                {{ post.time | date: "%R" }}
              </span>

              {% if post.endtime %}
              –
              <span>{{ post.endtime | date: "%R" }}</span>
              {% endif %}
            </span>
            <span data-en="{{ post.title_en }}" data-de="{{ post.title_de }}">
              {{ post.title_en }}
            </span>
          </div>
        </a>
      {% endfor %}
    </div>

  </div>
</div>
