---
layout: default
---

<div class="panorama">
  <div class="panorama__fixed">
    <div class="panorama__inner">
      {{ content }}
    </div>
  </div>
</div>

<div class="page-content">
  <div class="wrapper wrapper--content">

    <p style="margin: 3em auto; max-width: 500px">
      Urbanraum ist ein Raum, an dem Kinder, Erwachsene und Profi-Tänzer einen Ort finden, sich zu bewegen, zu tanzen, zu improvisieren, zu lernen. Urbanraum steht für qualitativ hochwertigen Tanz- und Bewegungs-Unterricht und bietet eine Bandbreite an Kursen. Der Stundenplan wird momentan beständig erweitert.
      <br><br>
      Fragen zur Raum-Vermietung und zum Programm an Friederike Erhart / Contact Friederike Erhart for all questions around the room and its programme via email: <a href="mailto:info@urbanraum.com">info@urbanraum.com</a>
    </p>

  </div>
</div>
