---
layout: default
---

<div class="panorama">
  <div class="panorama__fixed">
    <div class="panorama__inner">
      {{ content }}
    </div>
  </div>
</div>

<div class="page-content">
  <div class="wrapper wrapper--content">

    <p style="margin: 3em auto; max-width: 500px">
      Urbanraum is a space for dance, workshops, performances, rehearsals, and much more. Whether you are a dancer, a trainer, … Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <br><br>
      Contact Friederike Erhart for all questions around the room and its programme via email: <a href="mailto:info@urbanraum.com">info@urbanraum.com</a>
    </p>

  </div>
</div>
