---
layout: default
---
<div class="post">

  <header class="post__header">
    <h1 class="post__title">
        <span data-en="{{ page.title_en }}"
              data-de="{{ page.title_de }}">
              {{ page.title_en }}
        </span>
        <span class="post__subtitle"
              data-en="{{ page.subtitle_en }}"
              data-de="{{ page.subtitle_de }}">
              {{ page.subtitle_en }}
        </span>
    </h1>
    
    <p>
      <span data-en="{{ page.type_en }}" data-de="{{ page.type_de }}">{{ page.type_en }}</span>
      |
      <a href="{{ page.teacher-link }}">{{ page.teacher }}</a>
      {% if page.teacher_2 %}
        & <a href="{{ page.teacher-link_2 }}">{{ page.teacher_2 }}</a>
      {% endif %}
    </p>
  </header>

  <article class="post__content">

    <div class="post__details">
      <div class="post__media">
        {% if page.image %}
          <img src="{{ site.baseurl }}/img/{{ page.image }}" class="img-flex" />
        {% else %}
          <img src="{{ site.baseurl }}/img/class-placeholder-01.jpg" class="img-flex" />
        {% endif %}

      </div>

      <div class="post__list">
        <ul class="detail-list">
          <li>
            <span class="label" data-en="{{ site.termin_en }}" data-de="{{ site.termin_de }}">{{ site.termin_en }}</span>
            <span data-en="{{ page.weekday_en }}" data-de="{{ page.weekday_de }}">{{ page.weekday_en }}</span>

           {% if page.date_en || page.date_de %}
              <span data-en="{{ page.date_en }}" data-de="{{ page.date_de }}">{{ page.date_en }}</span>,
            {% endif %}
            <span data-en="{{ page.time_en }}" data-de="{{ page.time_de }}">{{ page.time_en }}</span>
            –
            <span data-en="{{ page.endtime_en }}" data-de="{{ page.endtime_de }}">{{ page.endtime_en }}</span>
          </li>
          <li>
            <span class="label" data-en="{{ site.level_en }}" data-de="{{ site.level_de }}">{{ site.level_en }}</span>
            <span data-en="{{ page.level_en }}" data-de="{{ page.level_de }}">{{ page.level_en }}</span>
          </li>
          <li>
            <span class="label" data-en="{{ site.language_en }}" data-de="{{ site.language_de }}">{{ site.language_en }}</span>
            <span data-en="{{ page.language_en }}" data-de="{{ page.language_de }}">{{ page.language_en }}</span>
          </li>
          {% if page.trial_en || page.trial_de %}
          <li>
            <span class="label" data-en="{{ site.trial_en }}" data-de="{{ site.trial_de }}">{{ site.trial_en }}</span>
            <span data-en="{{ page.trial_en }}" data-de="{{ page.trial_de }}">{{ page.trial_en }}</span>
          </li>
          {% endif %}

          <li>
            <span class="label" data-en="{{ site.cost_en }}" data-de="{{ site.cost_de }}">{{ site.cost_en }}</span>
            <span data-en="{{ page.price_en }}" data-de="{{ page.price_de }}">{{ page.price_en }}</span>
          </li>
          <li>
            <span class="label" data-en="{{ site.contact_en }}" data-de="{{ site.contact_de }}">{{ site.contact_en }}</span>
            <a href="mailto:{{ page.contact-link }}">{{ page.contact-link }}</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="post__description" data-en="{{ page.description_en }}" data-de="{{ page.description_de }}">
      {{ page.description_en }}
    </div>



      {{ content }}
    </div>

  </article>


</div>
