---
layout: default
---
{% assign teacher = site.data.people[page.teacher] %}

<div class="page-content">
  <div class="wrapper wrapper--content">

    <div class="post">

      <header class="post__header">
        <h1 class="post__title">
          {{ teacher.name }}
        </h1>
        <p class="teacher__class-list">
          {% assign teacher-name = teacher.name | downcase %}
          {% for post in site.classes %}
            {% if teacher-name contains post.teacher %}
            <a href="{{ post.url | prepend: site.baseurl }}">
              <span
                  data-en="{{ post.title_en }}"
                  data-de="{{ post.title_de }}">
                    {{ post.title_en }}
              </span>
            </a>
            <br>
            {% endif %}
          {% endfor %}

        </p>
      </header>

      <article class="post__content">

        <div class="post__details">
          <div class="post__media">
            {% if teacher.image %}
              <img src="{{ site.baseurl }}/img/{{ teacher.image }}" class="img-flex" />
            {% else %}
              <img src="{{ site.baseurl }}/img/class-placeholder-01.jpg" class="img-flex" />
            {% endif %}

          </div>

          <div class="post__aside">
            <div class="post__bio" data-en="{{ teacher.bio_en }}" data-de="{{ teacher.bio_de }}">
              {{ teacher.bio_en }}
            </div>

            <ul class="post__list">
              <li>
                <span class="label" data-en="{{ site.contact_en }}" data-de="{{ site.contact_de }}">
                  {{ site.contact_en }}
                </span>
                <a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a>
                {% if teacher.website-link %}
                | <a href="{{ teacher.website-link }}">{{ teacher.website-title }}</a>
                {% endif %}
                {% if teacher.phone %}
                | {{ teacher.phone }}
                {% endif %}
              </li>
            </ul>

            </div>


          </div>

        </div>

        <div class="post__description">
          {{ content }}
        </div>




        </div>

      </article>


    </div>
  </div>
</div>
